td {
    font-weight: bold;
}

.success {
    color: rgb(0, 209, 0);
}

.danger {
    color: rgb(255, 37, 37);
}

.ui.horizontal.divider {
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
    padding: 0 20px;
    padding-bottom: 15px;
}

.ui.container {
    width: 1148px !important;
    border-top: 0 !important;
}

.ui.segment {
    border-top: 0;
    border-radius: 0;
    border-bottom-left-radius: 0.28571429rem;
    border-bottom-right-radius: 0.28571429rem;
}
