<div class="wrapper">
    <div class="ui inverted segment">
        <div *ngIf="!this.store.loggedIn" class="user-info ui floated header">
            <i class="user icon"></i>
            <h3>Anónimo <span class="break">|</span></h3>
            <h3 class="g-log"><a (click)="onSignInClick()"><i class="google icon"></i>Iniciar sesión con Google</a></h3>
        </div>
        <div *ngIf="this.store.loggedIn" class="user-info ui floated header">
            <i class="user icon"></i>
            <h3>{{ this.store.playerName }} <span class="break">|</span></h3>
            <h3 class="g-log"><a (click)="onSignOutClick()"><i class="google icon"></i>Cerrar sesión</a></h3>
        </div>
    </div>
    <div class="ui container">
        <div class="ui segment big">
            <h3 class="ui right floated header"><i class="money bill alternate outline icon"></i>Balance: ${{ getBalance() | number : '1.2-2' }}</h3>
            <h3 class="ui right floated header"><i class="trophy icon"></i>Mejor paga: ${{ store.bestBet | number : '1.2-2' }}</h3>
            <div class="ui container">
                <div class="aside">
                    <app-form-bet></app-form-bet>
                    <app-players-list></app-players-list>
                </div>
                <app-game-chart class="chart" [newGame]="store.newGame"></app-game-chart>
            </div>
        </div>
    </div>
    <app-bet-history></app-bet-history>
</div>