<h3 class="ui left floated header"><i class="chart line icon"></i>Apuesta</h3>
<div class="bet ui segment">
    <form class="formulario" [formGroup]="betForm" (ngSubmit)="onSubmit($event)">
        <app-input
            pholder="Ej. 50" 
            [control]="betForm.controls.bet"
        >
        </app-input>
        <br />
        <button class="large ui red button" [disabled]="betForm.invalid || !store.betButton" type="submit">
            Apostar
        </button>
        <button class="large ui blue button" [disabled]="!store.cashOutButton" (click)="this.cashOut()" type="button">
            Cobrar
        </button>
    </form>
</div>
