h3 {
    font-size: 22px !important;
}

.red {
    width: 120px !important;
    margin: 0;
    margin-right: 10px;
}

.blue {
    width: 120px !important;
    margin: 0;
}

.ui.left.floated.header {
    position: relative;
}

.ui.segment {
    position: absolute;
    margin-top: 46px;
    padding-top: 18px;
}