.dollar.sign.icon {
    margin: 0;
    font-size: 16px;
}

.control.ui.right.labeled.input {
    width: 250px !important;
}

.ui.left.floated.header {
    font-size: 22px;
}

.input-error {
    margin-bottom: 2px;
}